.header {
	text-align: center;
	padding: 7px;
	border-color: rgb(0,0,0);
	border-width:1;
	border-style: solid;
}
.blok {
  	padding: 15px;
  	margin: 5px
  	border-width:1;
  	  }


.holy {
	height: 400px;
	display: grid;
	grid-template-columns: 200px auto 200px;
    grid-template-rows: 400px auto auto; 
    border-color: rgb(255,0,0);
	border-width:1;
	border-style: solid;
    text-align: center;

